<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>



    <body>
        <% include ../partials/navbar %>


            <div class="row">
                <div class="col-lg-6 col-md-offset-3">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-sucess alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                            <%= message %>
                        </div>

                        <% } %>



                            <form method="POST">
                                <h1>Add a new category</h1>

                                <div class="formgroup">
                                    <label="name">Name: </label>
                                        <input type="text" class="form-control" name="name">
                                </div>

                                <div class="formgroup">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>



                            </form>

                </div>

            </div>
            <% include ../partials/scripts %>
                <% include ../partials/footer %>
    </body>



</html>