<footer class="py-5 bg-dark">
    <div class="container">
        <% let year = (new Date()).getFullYear() %>
            <p class="m-0 text-center text-white">Copyright &copy; Visron Company 2018-
                <%= year %>
            </p>
    </div>

</footer>