<!doctype html>
<html lang="en">
<% include ./partials/head %>

    <body>
        <% include ./partials/navbar %>
            <div class="container">



                <!-- Example row of columns -->
                <%- body -%>


                    <!-- /container -->
            </div>

            <% include ./partials/footer %>
                <% include ./partials/scripts %>


    </body>

</html>